*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* ================= CARD ================= */
 .card{
    width: 90%;
    max-width: 470px;
    min-height: 620px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin-top: 80px;
    border-radius: 25px;
    padding: 40px 35px;
    text-align: center;
} 





/* ================= SEARCH ================= */
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: none;
    outline: 0;
    background: #ebfffc;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

/* ================= WEATHER ================= */
.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.Weather h1{
    font-size: 70px;
    font-weight: 400;
}

.Weather h2{
    font-size: 45px;
    font-weight: 300;
    margin-top: -10px;
}

/* ================= DETAILS ================= */
.details{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    /* gap: 12px; */
    text-align: left;
    margin-top: 40px;
}

.col img{
    width: 40px;
    /* height: 45px; */
      margin-right: 5px;
}

.humidity,
.wind{
    font-size: 30px;
    font-weight: 500;
    /* margin-top: -6px; */
}

.col p:last-child{
    font-size: 16px;
    opacity: 0.9;
}


/* ================= RESPONSIVE ================= */
@media (max-width: 480px){

    .card{
        padding: 30px 20px;
        min-height: 560px;
    }

    .weather-icon{
        width: 140px;
    }

    .Weather h1{
        font-size: 65px;
    }

    .Weather h2{
        font-size: 34px;
    }

    .col img{
        width: 35px;
        height: 35px;
    }

    .humidity,
    .wind{
        font-size: 24px;
    }
}
